{% extends "base.html" %}

{% block content %}
    <div class="controls p1">
        <a href="https://github.com/keb/keb.github.io/edit/master/content/feed/{{ page.slug }}.md">edit</a>
    </div>
    <header class="h4 py2">
        <a href="/">← home</a>
    </header>
    <small class="h5 p0 m0 light-subdue">
        {{ page.date | date(format="%B %d, %Y", timezone="America/New_York") }}
    </small>

    <article class="content">
        {{ page.content | safe }}
    </article>
{% endblock content %}
