{% extends "base.html" %}

{% block content %}
    <div class="controls p1">
        new
        <a href="https://github.com/keb/keb.github.io/new/master/content/feed">feed</a>
        <a href="https://github.com/keb/keb.github.io/new/master/content">article</a>
    </div>

    <div class="home">
        <header>
            <div class="profile">
                <div class="card flex">
                    <img class="image" src="{{ get_url(path="img/pic.jpg") }}" alt="pic">

                    <div class="header">
                        <h1 class="name" title="Discord ID">
                            keb<small class="discord-tag">#2245</small>
                        </h1>
                        <a href="mailto:keb@sheev.net">keb@sheev.net</a>
                    </div>
                </div>
                <div class="links">
                    <ul class="pl2">
                        <li><a href="https://github.com/keb">github.com/keb</a></li>
                        <li><a href="https://keb.itch.io/">keb.itch.io</a></li>
                        <li><a href="https://www.last.fm/user/kebfm">last.fm/user/kebfm</a></li>
                        <li><a href="https://www.gog.com/u/kebg">gog.com/u/kebg</a></li>
                        <li><a href="https://steamcommunity.com/id/kebsteam">steamcommunity.com/id/kebsteam</a></li>
                    </ul>
                </div>
            </div>
            <div class="bookmarks">
                <span>bookmarks »</span>
                <a href="/backlog">~/backlog</a>
                <a href="/reviews">~/reviews</a>
                <a href="/games">~/games</a>
                <a href="/books">~/books</a>
                <a href="/wishlist">~/wishlist</a>
            </div>
        </header>
        <div class="line" aria-hidden="true"></div>

        <div class="items">
            <div class="feed">
                {% set feed = get_section(path="feed/_index.md") %}
                {% for post in feed.pages | slice(start=0, end=20) %}
                    <article class="feed-item">
                        <div class="link">
                            <small><a href="{{ post.permalink }}">@ <time datetime="{{ post.date | date(format="%Y-%m-%d", timezone="America/New_York") }}">{{ post.date | date(format="%Y.%m.%d", timezone="America/New_York") }}</time></a></small>
                        </div>

                        <div class="content">
                            {{ post.content | safe }}
                        </div>
                    </article>
                {% endfor %}

                <nav class="py1">
                    <a href="/feed-archive/">feed archive →</a>
                </nav>
            </div>
            <div class="line show-mobile"></div>
            <div class="articles">
                <h2>articles</h2>
                {% for post in section.pages | slice(start=0, end=10) %}
                    <article class="archive-link">
                        <time datetime="{{ post.date | date(format="%Y-%m-%d", timezone="America/New_York") }}">{{ post.date | date(format="%Y.%m.%d", timezone="America/New_York") }}</time>
                        -
                        <header style="display: inline;"><a href="{{ post.permalink }}">{{ post.title | truncate(length=10) }}</a></header>
                    </article>
                {% endfor %}

                <nav class="py1">
                    <a href="/archive/">archive →</a>
                </nav>
            </div>
        </div>
    </div>
{% endblock content %}
