{% extends "base.html" %}

{% block content %}
    <div class="controls p1">
        <a href="https://github.com/keb/keb.github.io/new/master/content">new</a>
    </div>

    <div class="home">
        <header>
            <div class="profile">
                <div class="card flex">
                    <img class="image" src="{{ get_url(path="img/pic.jpg") }}" alt="pic">

                    <div class="header">
                        <h1 class="name" title="Discord ID">
                            keb<small class="discord-tag">#2245</small>
                        </h1>
                        <a href="mailto:me+homepage@keb.im">me@keb.im</a>
                    </div>
                </div>
            </div>
            <div class="links">
                <span>»</span>
                <a rel="me" href="https://tilde.zone/@keb">mastodon</a>
                <a href="https://github.com/keb">github</a>
                <a href="https://keb.itch.io/">itch.io</a>
                <a href="https://www.last.fm/user/kebfm">last.fm</a>
                <a href="https://www.gog.com/u/kebg">gog</a>
                <a href="https://steamcommunity.com/id/kebsteam">steam</a>
            </div>
            <div class="links">
                <span>~</span>
                <a href="/feed">/feed</a>
                <a href="/backlog">/backlog</a>
                <a href="/reviews">/reviews</a>
                <a href="/games">/games</a>
                <a href="/books">/books</a>
                <a href="/wishlist">/wishlist</a>
            </div>
        </header>
        <div class="line" aria-hidden="true"></div>

        {% for post in section.pages | slice(start=0, end=6) %}
            <article class="archive-link">
                <time datetime="{{ post.date | date(format="%Y-%m-%d", timezone="America/New_York") }}">{{ post.date | date(format="%Y.%m.%d", timezone="America/New_York") }}</time>
                -
                <header style="display: inline;"><a href="{{ post.permalink }}">{{ post.title }}</a></header>
            </article>
        {% endfor %}

        <nav class="py1">
            <a href="/archive/">archive →</a>
        </nav>
    </div>
{% endblock content %}
